<div class="text-center w-full bg-gray-900">
  <h1>
    Welcome to <br />
    <span
      class="bg-gradient-to-b from-blue-500 to-blue-700 bg-clip-text text-transparent"
      >Tetri</span
    >
    <span
      class="bg-gradient-to-t from-yellow-400 to-red-600 bg-clip-text text-transparent"
      >X<span class=""> 3D!</span>
    </span>
  </h1>
  <div
    class="bg-gradient-to-r from-indigo-500 via-purple-300 to-pink-500 border-spacing-1 border-2 border-blue-300"
  >
    <p class="text-center text-violet-950">
      To get started, click on play button or press enter!
    </p>
  </div>
</div>
